<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Principal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Bienvenue sur l'application Music App</h1>
        <div class="menu">
            <a href="{{ url_for('main_bp.exercice') }}" class="btn">Lancer un exercice</a>
            <a href="{{ url_for('main_bp.parametres') }}" class="btn">Paramètres</a>
            <a href="{{ url_for('auth_bp.logout') }}">Se déconnecter</a>
        </div>
    </div>
</body>
</html>
